dbt-core
duckdb
click
coloredlogs
google-cloud-bigqueryp
google-cloud-bigquery-storage
google-cloud-storage
google-auth
google-api-core
google-cloud-core
google-cloud-secret-manager
oracledb
pandas
pyarrow
pydantic
PyYAML
python-json-logger
psycopg2
requests
schema
sqlalchemy
sqlalchemy-bigquery
snowflake-sqlalchemy
types-click

